LogicApps/emelie-la-send-greeting-invoice-to-billing-service.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwayeast",
        "brazilsoutheast",
        "westus3"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "msnweather_1_Connection_Name": {
      "type": "string",
      "defaultValue": "msnweather"
    },
    "msnweather_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "MSN Weather"
    },
    "billingServicePassword": {
      "type": "securestring"
    },
    "greetingServicePassword": {
      "type": "securestring"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://emeliefunctiondev.azurewebsites.net/api/invoice/@{formatDateTime(utcNow(),'yyyy')}/@{formatDateTime(utcNow(),'mm')}",
                "authentication": {
                  "type": "Basic",
                  "username": "emelie.englund@hm.com",
                  "password": "@parameters('greetingServicePassword')"
                }
              },
              "runAfter": {}
            },
            "Parse_GreetingService.Invoices_": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "sender": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "password": {
                            "type": "string"
                          },
                          "created": {
                            "type": "string"
                          },
                          "updated": {
                            "type": "string"
                          }
                        }
                      },
                      "greetings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "message": {
                              "type": "string"
                            },
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            },
                            "timestamp": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "message",
                            "from",
                            "to",
                            "timestamp"
                          ]
                        }
                      },
                      "year": {
                        "type": "integer"
                      },
                      "month": {
                        "type": "integer"
                      },
                      "costPerGreeting": {
                        "type": "integer"
                      },
                      "totalCost": {
                        "type": "integer"
                      },
                      "currency": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "sender",
                      "greetings",
                      "year",
                      "month",
                      "costPerGreeting",
                      "totalCost",
                      "currency"
                    ]
                  }
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "For_each_GreetingService.Invoices": {
              "type": "Foreach",
              "foreach": "@body('Parse_GreetingService.Invoices_')",
              "actions": {
                "Parse_GreetingService_Invoice": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each_GreetingService.Invoices')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "sender": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "password": {
                              "type": "string"
                            },
                            "created": {
                              "type": "string"
                            },
                            "updated": {
                              "type": "string"
                            }
                          }
                        },
                        "greetings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "from": {
                                "type": "string"
                              },
                              "to": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "message",
                              "from",
                              "to",
                              "timestamp"
                            ]
                          }
                        },
                        "year": {
                          "type": "integer"
                        },
                        "month": {
                          "type": "integer"
                        },
                        "costPerGreeting": {
                          "type": "integer"
                        },
                        "totalCost": {
                          "type": "integer"
                        },
                        "currency": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "runAfter": {}
                },
                "GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows": {
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Parse_GreetingService_Invoice')?['greetings']",
                    "select": {
                      "description": "@item()?['message']",
                      "count": "1",
                      "amount": "@body('Parse_GreetingService_Invoice')?['costPerGreeting']"
                    }
                  },
                  "runAfter": {
                    "Parse_GreetingService_Invoice": [
                      "Succeeded"
                    ]
                  }
                },
                "GET_BillingService.Invoice": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://greeting-billing-service-function-dev.azurewebsites.net/api/invoice/@{items('For_each_GreetingService.Invoices')?['sender']?['email']}/@{items('For_each_GreetingService.Invoices')['year']}/@{items('For_each_GreetingService.Invoices')['month']}?code=@{items('For_each_GreetingService.Invoices')?['sender']?['password']}"
                  },
                  "runAfter": {
                    "GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows": [
                      "Succeeded"
                    ]
                  }
                },
                "GET_Returned_200_OK": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('GET_BillingService.Invoice')['statusCode']",
                          200
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Parse_JSON_2": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('GET_BillingService.Invoice')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "sender": {
                              "type": "object",
                              "properties": {
                                "firstName": {
                                  "type": "string"
                                },
                                "lastName": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "password": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "string"
                                },
                                "updated": {
                                  "type": "string"
                                }
                              }
                            },
                            "greetings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  },
                                  "from": {
                                    "type": "string"
                                  },
                                  "to": {
                                    "type": "string"
                                  },
                                  "timestamp": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "message",
                                  "from",
                                  "to",
                                  "timestamp"
                                ]
                              }
                            },
                            "year": {
                              "type": "integer"
                            },
                            "month": {
                              "type": "integer"
                            },
                            "costPerGreeting": {
                              "type": "integer"
                            },
                            "totalCost": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "runAfter": {}
                    },
                    "PUT_BillingService.Invoice": {
                      "type": "Http",
                      "inputs": {
                        "method": "PUT",
                        "uri": "https://greeting-billing-service-function-dev.azurewebsites.net/api/invoice?code=@{body('Parse_JSON_2')?['sender']?['password']}",
                        "body": {
                          "id": "@body('Parse_JSON_2')?['id']",
                          "year": "@body('Parse_JSON_2')?['year']",
                          "month": "@body('Parse_JSON_2')?['month']",
                          "customer": "@body('Parse_JSON_2')?['sender']",
                          "amount": "@body('Parse_JSON_2')?['totalCost']",
                          "currency": "@body('Parse_JSON_2')?['currency']",
                          "invoice_rows": "@body('GreetingService.Invoice.Greetings_to_BillingService.Invoice.InvoiceRows')"
                        }
                      },
                      "runAfter": {
                        "Parse_JSON_2": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "GET_BillingService.Invoice": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {
                      "POST_BillingService.Invoice": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "https://greeting-billing-service-function-dev.azurewebsites.net/api/invoice?code=@{items('For_each_GreetingService.Invoices')?['sender']?['password']}",
                          "body": {
                            "year": "@body('Parse_JSON_2')?['year']",
                            "month": "@body('Parse_JSON_2')?['month']",
                            "customer": "@items('For_each_GreetingService.Invoices')?['sender']?['email']",
                            "amount": "@body('Parse_JSON_2')?['totalCost']",
                            "currency": "@body('Parse_JSON_2')?['currency']",
                            "invoice_rows": "@body('Select')"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_GreetingService.Invoices_": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "greetingServicePassword": {
              "type": "SecureString"
            },
            "billingServicePassword": {
              "type": "SecureString"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "greetingServicePassword": {
            "type": "SecureString",
            "value": "[parameters('greetingServicePassword')]"
          },
          "billingServicePassword": {
            "type": "SecureString",
            "value": "[parameters('billingServicePassword')]"
          }
        }
      },
      "dependsOn": []
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('msnweather_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'msnweather')]"
        },
        "displayName": "[parameters('msnweather_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}